<!--<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto Nuevo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombre">
          </div>
          -DEPARTAMENTOS-
          <div class="form-group col-md-6">
            <label for="departamento">Departamento:</label>
            <select name="departamento" class="form-control">
              <option value="Casa">Casa</option>
              <option value="Electrodomestico">Electrodomestico</option>
              <option value="Ferreteria">Ferreteria</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="price">Precio:</label>
            <input type="number" name="price" class="form-control" placeholder="0,00Bs.">
          </div>
          <div class="form-group col-md-6">
            <label for="oferta">Oferta:</label>
            <select name="oferta"  class="form-control">
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Descripcion:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
        <button type="button" class="btn btn-warning">Agregar Producto</button>
      </div>
    </div>
  </div>
</div>-->

<div class="modal" id="modalProduct">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">HELLO</div>
          <button type="button" class="close"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <p>This is a modal body</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bnt-secondary">Confirm</button>
        </div>
      </div>
  </div>
</div>
