<div class="login-box">
  <h1>Login Here</h1>
  <form #userForm="ngForm" (submit)="onLogin()">
      <!-- EMAIL INPUT -->
      <label for="username">Email</label>
      <input class="campo" type="email" placeholder="Enter Email"  [(ngModel)]="lemail" name="lemail" id="lemail">
      <!--<small class="text-danger" [class.d-none]="name.valid || name.touched">Username required</small>-->
      <!-- PASSWORD INPUT -->
 
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="password" #name="ngModel">
      <!-- BOTON LOGIN -->
      <button class="btn btn btn-block">Login</button>
      <!--Google-->
      <a class="btn-social btn btn-block btn-google" (click)="onLoginGoogle()">
        Google
      </a><br>
 
      <a routerLink="/bienvenida/pass">Lost your Password?</a><br>
      <a routerLink="/bienvenida/registro" >Don't have An account?</a>
  </form>
 </div>
 
 <a routerLink="/admin">:)</a><br>
 
 <!--validarUser(){
 if (User.name=='admin' ){
 console.log(alert);
  }-->
 
 
 