<form #userForm="ngForm" (submit)="onLogin()">
<div class=" bajarc">

          <div class="card-body">
            <h4 class="card-title text-center">Sign In</h4>
            <form class="form-signin">


              <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="email" #name="ngModel" required>
                  <label for="inputEmail">Enter Email</label>
                </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="pass" [(ngModel)]="password" #name="ngModel" required>
                <label for="inputPassword">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="onLoginGoogle()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>

            </form>
          </div>
        </div>
</form>

<!--<div class="login-box">
  <h1>Login Here</h1>
  <form #userForm="ngForm" (submit)="onLogin()">
      EMAIL INPUT 
      <label for="username">Email</label>
      <input class="campo" type="email" placeholder="Enter Email"  [(ngModel)]="lemail" name="lemail" id="lemail">
  
      PASSWORD INPUT
 
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" name="pass" [(ngModel)]="password" #name="ngModel">
     BOTON LOGIN 
      <button class="btn btn btn-block" (click)="onLogin()">Login</button>
     Google
      <button class="btn btn-lg btn-google btn-block" (click)="onLoginGoogle()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>

 

  </form>
 </div>
 
-->
 <!--validarUser(){
 if (User.name=='admin' ){
 console.log(alert);
  }-->
 
 
 