<div class="center ">
        <td >
        <div class="card card2" > 
           
            <h5 class="card-title"></h5>
            <a routerLink="/bienvenida"><img src="assets/Mandarina2.png"></a>
                <p class="card-text">La mandarina es una tienda por departamentos fundada en 1990 por la famosa constructora D'Guillen</p>
                <td><button class="btn2 btn  btn-primary btn-block text-uppercase align-top" routerLink="/bienvenida/pass">Lost your Password?</button> </td>
                <td><button class="btn1 btn  btn-primary btn-block text-uppercase align-text-bottom" routerLink="/bienvenida/registro">Register</button> </td>      
            </div>
    </td>
    
        <td>
        <div class="card card1" >
        
            <app-register-u></app-register-u>
    
        </div>
              
        
    </td>
    
    </div>
    <router-outlet></router-outlet>