<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="this.AuthService.name" >
  </div>
  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="name" >
  </div>
  <div class="form-group">
    <label for="dir">Direccion</label>
    <input type="text" class="form-control" id="dir" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>