<div class="register-box">
  <h1>Register Here</h1>
  <form #registerForm="ngForm" (ngSubmit)="onAddUser()">
      <!-- NAME INPUT -->
      <label for="Name">Name</label>
      <input class="campo" type="text" placeholder="Enter Name" >
      <!-- Lastname INPUT -->
      <label for="Lastname">Lastname</label>
      <input class="campo" type="text" placeholder="Enter Lastname" >
      <!-- Email INPUT -->
      <label for="Email">Email</label>
      <input class="campo" type="text" placeholder="Enter Email" [(ngModel)]="email" name="email">
      <!-- USERNAME INPUT -->
      <label for="username">Username</label>
      <input class="campo" type="text" placeholder="Enter Username" >
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password">
      <!-- PASSWORD INPUT -->
      <label for="password">Confirm Password</label>
      <input type="password" placeholder="Enter Password" >
      <!-- BOTON REGISTER -->
      <button type='submit' class="btn">Register</button>
  </form>
</div>

