<div class="register-box">
  <h1>Register Here</h1>
  <form>
      <!-- NAME INPUT -->
      <label for="Name">Name</label>
      <input class="campo" type="text" placeholder="Enter Name">
      <!-- Lastname INPUT -->
      <label for="Lastname">Lastname</label>
      <input class="campo" type="text" placeholder="Enter Lastname">
      <!-- Email INPUT -->
      <label for="Email">Email</label>
      <input class="campo" type="text" placeholder="Enter Email">
      <!-- USERNAME INPUT -->
      <label for="username">Username</label>
      <input class="campo" type="text" placeholder="Enter Username">
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input type="password" placeholder="Enter Password">
      <!-- PASSWORD INPUT -->
      <label for="password">Confirm Password</label>
      <input type="password" placeholder="Enter Password">
      <!-- BOTON REGISTER -->
      <input class="btn" type="submit" value="Register">
  </form>
</div>