<!--<div  *ngIf= "products.length > 0; else noproducts">
<ul  class="list-group">
  <li *ngFor="let p of products" class="list-group-item list-group-item-action">
    <h5>{{p.name}}</h5>
    <h3>{{p.price}}</h3>
    <p>{{p.description}}</p>
    
    <button (click) = "deleteProduct($event, p)" class="btn btn-danger">
      Delete
    </button>
    <button (click)= "editProduct($event, p)" class="btn btn-secondary">
      Edit
    </button>   
  </li>
</ul>
</div>

<ng-template #noproducts>
  <p>No hay productos.</p>
</ng-template>

-->
<section class="row mt-5">
  <div class="col">
    <button class="btn btn-outline-warning float-right mb-3" data-toggle="modal" data-target="#modalProduct">Nuevo Producto</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Precio</th>
          <th scope="col">Departamento</th>
          <th scope="col">Oferta</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{p.name}}</td>
          <td>{{p.description}}</td>
          <td>{{p.price}} Bs.</td>
          <td>{{p.departamento }}</td>
          <td>{{p.oferta}}</td>
          <td>
            <button class="btn btn-warning" (click)= "onPreUpdateProduct(p)" data-toggle="modal" data-target="#modalProduct">Update</button>
          </td>         
          <td>
            <button class="btn btn-secondary" (click) = "onDeleteProduct(p.id)">Delete</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal></app-modal>



